*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #22252f;
}

li a {
  font-family: "Abril Fatface", serif;
  font-size: 50px;
  background: -webkit-linear-gradient(-70deg, #da1b60, #ff8a00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

li {
  margin: 50px;
  list-style: none;

}

a {
  text-decoration: none;
}

#nav-bar {
  display: none;
}

.show {
  display: block;
}

.menu {
  height: auto;
  text-align: center;
}

.burger-menu {
  background-color: blue;
  height: 42px;
}

.burger-container {
  position: relative;
  left: 83%;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  width: 40px;
  padding: 7px;
  cursor: pointer;
}

.burger-container span {
  display: block;
  height: 2px;
  margin: 5px;
  position: relative;
  background: -webkit-linear-gradient(-70deg, #da1b60, #ff8a00);
  border-radius: 2px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;

}

.burger-container:hover {
  background-color: white;
  transition: 1s;
}



