* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #22252f;
}

.btn-nav-container {
  /* background-color: blueviolet; */
  text-align: right;
  padding-right: 2rem;
  margin-top: 2rem;
}

#btn-nav {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 2px solid white;
}

#btn-nav span {
  display: block;
  height: 2px;
  margin: 5px;
  position: relative;
  background: -webkit-linear-gradient(-70deg, #da1b60, #ff8a00);
  border-radius: 2px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
  cursor: pointer;
}

#btn-nav:hover {
  background-color: white;
  transition: 1s;
}

.nav-menu li a {
  font-family: "Abril Fatface", serif;
  font-size: 5rem;
  background: -webkit-linear-gradient(-70deg, #da1b60, #ff8a00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 8rem;
}

.nav-menu {
  list-style: none;
  text-align: center;
}

#navbar {
  display: none;
}

